/* log.css */

body {
	background-image: url("bg.jpeg"); /* Replace with the name of your image file */
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* Rest of the CSS code */
  
.center-box {  position: absolute;
  top: 50%;  left: 50%;
  transform: translate(-50%, -50%);  border: 2px solid #ffffff;
  border-radius: 40px;  width: 300px;
  height: 320px;  text-align: center;
  color: #ffffff;  background-image: linear-gradient(45deg, #fd79a8, #b7e309);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}
.text-field {
  padding: 10px 30px;  margin: 20px 0;
  border: 2px solid #ffffff;  border-radius: 10px;
  font-size: 12pt;  color: #121210;
  background-color: rgba(255, 255, 255, 0.7);}
.btn-style {
  padding: 10px 30px;  border: 1px solid #ffffff;
  border-radius: 20px;  background-color: #0c00b8;
  color: #ffffff;}
.btn-style:hover {
  background-color: #ffffff;  color: #00b894;
}
.an-btn {  margin-top: 10px;
  border: 0;  background-color: #0050b8;
  color: #ffffff;  font-size: 11pt;
}
#register-div {  display: none;
}
#result-box {  display: none;
  position: absolute;  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  font-size: 16pt;
  color: #ffffff;}
  
  
  .center-box {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(223, 12, 12, 0.1);
	padding: 50px;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 90px;
  }
  
  h2 {
	text-align: center;
	margin-bottom: 50px;
	color: #333333;
	font-size: 30px;
  }
  
  .text-field {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
	border-radius: 4px;
  }
  
  .btn-style {
	background-color: #60af4c;
	color: #ffffff;
	border: none;
	padding: 12px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .btn-style:hover {
	background-color: #45a049;
  }
  
  .an-btn {
	background-color:#080d0a;
	border: none;
	padding: 0;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
	font-size: 14px;
	color: #e6e3e3;
	cursor: pointer;
	transition: color 0.3s ease;
  }
  
  .an-btn:hover {
	color: #333333;
  }
  
  #result-box {
	text-align: center;
	margin-top: 30px;
  }
  
  #result {
	margin-bottom: 20px;
	color: #efe4e4;
  }
  
  #log-out-btn {
	background-color: #f44336;
	color: #ffffff;
	transition: background-color 0.3s ease;
  }
  
  #log-out-btn:hover {
	background-color: #d32f2f;
  }
  h1 {
	font-size: 80px;
	text-align: center;
	margin-top: 50px;
	padding: 10px;
	font-weight: bold;
	color: #0a0a09;
	}
  